nav.navbar.navbar-default
    .container-fluid
        .navbar-collapse.collapse.in
            ul.nav.navbar-nav.navbar-right
                li 
                    label 06:20
                li.dropdown.profile
                    a.dropdown-toggle(data-toggle="dropdown")
                        img.profile-img(src="assets/images/pixel_512.png")
                        .title Profile
                    .dropdown-menu
                        .profile-info
                            h4.username milkmidi
                        ul.action
                            li
                                a Profile
                            li
                                a Logout
