doctype
html
    head
        meta(charset='UTF-8')
        title bootstrap
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- meta(name="google-signin-client_id" content="554917229066-bst96iq8q5n10l89tp6gf8chslqo359m.apps.googleusercontent.com")
        //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto")
        //- link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
        //- link(rel="stylesheet" href="css/bootstrap.min.css" )
        //- link(rel="stylesheet" href="css/bootstrap-theme.min.css" )
        link(rel="stylesheet" href="./assets/css/vendor.css")
        link(rel="stylesheet" href="./assets/css/flat-admin.css")
        link(rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css")
        script(src="./assets/js/vendor.js")
        script(src="https://unpkg.com/flatpickr")
        script(src="https://npmcdn.com/flatpickr/dist/l10n/zh.js")
        //- script(src="js/index.min.js")
        block header
    body
        .app.app-default
            block content