doctype
html
    head
        meta(charset='UTF-8')
        title bootstrap
        meta(name="viewport" content="width=device-width, initial-scale=1")        
        link(rel="stylesheet" href="assets/css/vendor.css")
        link(rel="stylesheet" href="assets/css/flat-admin.css")
        link(rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css")        
    body
        #app
        //- script(src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js")
        script(src='//cdnjs.cloudflare.com/ajax/libs/vue-router/2.1.2/vue-router.js')
        script(src="assets/js/vendor.js")
        script(src="//unpkg.com/flatpickr")
        script(src="//npmcdn.com/flatpickr/dist/l10n/zh.js")
        script(src="js/index.js")        