extends _master_with_include.pug

block append vars
  - var title = 'form'

block header
    //- script(src="js/form.js")    
block content    
    .row
        - for(var i = 0 ; i < 7 ; i++)
            .col-md-4
                .card.card-outline-info
                    .card-header 
                        .card-title Form #{i}
                        ul.card-action
                            li.dropdown
                                a.dropdown-toggle(href='/', data-toggle='dropdown', aria-expanded='false')
                                    i.fa.fa-cogs(aria-hidden='true')
                                ul.dropdown-menu
                                    li
                                        a(href='#') Action 1
                                    li
                                        a(href='#') Action 2
                                    li
                                        a(href='#') Action 3

                    .card-body Body
                    .card-block block
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a><a href="#" class="btn btn-primary">Go somewhere</a>
                    


